<!-- <h1>My Project</h1>

<div style="position: relative;">
  <textarea rows="5" cols="60" type="text" [(ngModel)]='myname' id="input1" (keyup)="values($event)"> </textarea>
    <div *ngIf="id == '@'" id="list1" class="search"  style="position: absolute; top: 30px;background: #fff; width: 30%;"  >
      <h3 style="color:red" class="list-group-item" *ngFor="let c of codeList" (click)="selectvalue(c.name)">{{c.name}}
        <hr>
      </h3>
  </div>
</div>

<button class="btn">&#43; ADD NOTE </button>
<button class="btn secondary" (click)="reset()">RESET</button> -->


<div class="container my-5">
  <div class="form-group">
    <textarea  rows="6" name="input1" [(ngModel)]='myname' (keyup)="values()"
      id="input1" autocomplete="off" class="form-control" placeholder="Create Post with you friends">
    </textarea>
    
    <div id="list1" style="position: absolute; top: 90px;" class="list-group hide">
      <a href="#" class="list-group-item" *ngFor="let c of codeList" (click)="selectvalue(c.name)">
        {{c.name}}
      </a>
    </div>

  </div>
</div>